html * {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 50px;
    font-weight: bold;
}

h2, h3, h4 {
    font-size: 25px;
    font-weight: bold;
}

pre {
    font-size: 15px;
}

.player-image {
    padding-left: 40px;
    width: auto;
    height: 100px;
}

.mission-image {
    padding-left: 40px;
    width: auto;
    height: 200px;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.lobby-button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.lobby-button:hover {
    background-color: #0056b3;
}
