{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Avalon</title>
    <link rel="stylesheet" href="{% static 'accounts/base.css' %}">
</head>
<body>
    <h1>Avalon</h1>
    <h2>Object of the Game</h2>

    <pre>
    The Resistance: Avalon is the game of hidden loyalty. Players are either Loyal Servants of Arther 
    fighting for Goodness and honor or aligned with the Evil ways of Mordred. <br>

    Good wins the game by successfully completing three Quests. Evil wins if three Quests end in failure. Evil can
    also win by assassinating Merlin at game's end or if a Quest cannot be undertaken. <br>
    
    Players may make any claims during the game, at any point in the game. Discussion, deception, accusation, and
    logical deducation are all equally important in order for Good to prevail or Evil to rule the day. <br>
    </pre>

    <h3>Characters</h3>

    <pre>
    Character cards determine the player's loyalty. References to a player's Good or Evil 
    loyalty are denoted with a special front. <br>

    Some characters have special powers during the game - Merlin and the Assasin are 
    included in all games and the remaining special character cards are optional. <br>

    A player's character card may not be revealed at any point in the game. <br>

    Good Characters <br>
        &times;Merlin: Knows All Evil <br>
        &times;Percy: Knows Merlin <br>
        &times;5 Loyal Servants of Arthur <br>
    
    Evil Characters <br>
        &times;Mordred: Unkown to Merlin <br>
        &times;Assasin: Trys to kill Merlin at the end of the game <br>
        &times;Oberon: Unkown to Evil <br>
        &times;Morgana: Appears as Merlin to Percy, meaning Percy will see two names and not just one <br>
        &times;5 Minions of Mordred
    </pre>

    <h4>Setup and Gameplay</h4>

    <pre>
    Choose any optional characters to include, Merlin and Assasin are always chosen. <br>
    A leader is randomly selected. The chart below determines the number of Good and Evil players.
    </pre>

    <img src="{% static 'Player Number.png' %}" class="player-image">

    <pre>
    The game consists of several rounds; each round has a team building phase and a Quest phase. <br>
    In the team building phase the leader proposes a team to complete a Quest - all the players
    will either approve the proposed team and move to the quest phase, or reject the proposed
    team passing leadership to the next player and repeating the process until a team is approved. <br>
    In the Quest phase those players selected to be on the team will determine if the Quest is succesfull. <br>
    The chart below shows how many people need to be picked per mission depending on the number of players.
    </pre>
    
    <img src="{% static 'Mission.png' %}" class="mission-image">    

    <pre>
    The leader can be on the team, but is not required to be so. <br>
    Discus, Discus, Discus. All the players should participate
    in helping the leader make the right choice of players to be 
    on the team. Active and logical discusion is a great way to 
    catch Mordred's agents in their webs of deceit. <br>
    The team is approved if the majority accepts. If the team is approved,
    play continues in the quest phase. <br>
    If the team is rejected (a tied vote is also rejection),
    the leader passes clockwise and the team building phase is repeated. <br>
    Evil wins the game if five teams are rejected in a single round.
    Arthur and Goodness prevail if the team of Good is able to successfully complete
    three quests without revealing Merlin's true identity. <br>
    Mordred's dark forces of Evil win when three quests end in failure or
    are devious enough to force Merlin into the open. <br>
    The game ends immediately after either 3 succesful or three failed quests. <br>
    The evil players win if 3 quests fail and when 5 teams are rejected in a single round. <br>
    If 3 quests are completed succesfully, the evil players will have a final opportunity to
    win the game by correctly naming which of the good players is Merlin.
    </pre>

    <div class="button-container">
      
        <a href="{% url 'open_active_lobbies' %}" id="lobby-join">Join Lobby</a>
        <a href="{% url 'open_lobby' %}" id="lobby-create">Create Lobby</a>
        {% if 'user_id' not in request.session %}
            <a href="{% url 'register' %}" id="create-user">Create User</a>
        {% endif %}

        {% if 'user_id' in request.session %}
            <p>LOGGED IN AS {{ request.session.username }}</p>
        {% endif %}
      
    </div>

    
    
</body>
</html>
