<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Lobby</title>
</head>
<body>
    <script>
        
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }

    </script>
    <form method="POST" action="{% url 'create_lobby' %}">
        {% csrf_token %}
        <label>ENTER LOBBY NAME</label>
        <input type="text" for="name" name="name" required>
        <br><br>
        <label>ENTER LOBBY CODE</label>
        <input type="text" for="code" name="code" required>
        <br><br>
        <button type="submit">Submit</buttom>
        
    </form>
</body>
</html>