<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>
<form action="{% url 'save_register' %}" method="post">
    {% csrf_token %}
    <label for="username">Enter your username:</label>
    <input type="text" id="username" name="username" required>
    <label for="password">Enter your password:</label>
    <input type="password" id="password" name="password" required>
    <label for="password_confirmation">Confirm your password:</label>
    <input type="password" id="password_confirmation" name="password_confirmation" required>
    <button type="submit">Submit</button>
</form>
{% if error %}
    <script>alert("FAILED SIGN IN")</script>
{% endif %}
